{% extends "base.html" %}

{% block title %} Marketplace {% endblock %}

{% block content %}
{{error_msg}}

{% if role == "anonymous" %}

<div id="messages" class="notification is-warning"> You are viewing the marketplace in anonymous mode, sign in if you have an account</div>

{% endif %}

<style>
    table.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<table class="table center is-striped">
    <thead>
        <tr></tr>
        <th>item name</th>
        <th>price</th>
        <th>currency</th>
        <th>payer email</th>
        <th></th>
        </tr>
    </thead>

    <tbody>
        {% for element in catalog %}
        <tr>
            <th>{{element.name}}</th>
            <th>{{element.price}}</th>
            <th>dollars</th>
            <td><a href="/marketplace/{{element.id}}"><button class="button is-danger is-outlined">View Item</button></a>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}