{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %} 
    {{error_msg}} 

    <form action="/login" method="post">
        <input class="input is-medium" type="text" id="email" name="email" placeholder="Your email"><br><br>

        <input class="input is-medium" type="password" id="password" name="password" placeholder="Your Password"><br><br>

        <input class="button is-block is-info is-medium is-fullwidth" type="submit" value="Login">
      </form>
      


{% endblock %}